.card {
    background: rgba(46, 43, 43, 1);

    border: 1px solid rgba(46, 43, 43, 1);
    width: 245px;
    padding: 15px 20px 15px 20px;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

.card:hover{
    background: rgba(81, 77, 77, 1);
    border: 1px solid rgba(81, 77, 77, 1)
}

.cardHeaderFont {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.003em;
    text-align: left;
}

.cardContentFont {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.003em;
    text-align: left;
}
