.header {
    display: flex;
    justify-content: right;

    margin-top: 32px;
    margin-bottom: 20px;
}

.favoriteLink{
    font-size: 14px;
    font-weight: 700;

    display: flex;
    align-items: center;
    gap: 10px;
}
